 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 90px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 589px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: comfortaa;
  font-weight: 400;
  margin: 46px 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: comfortaa;
  font-size: 1.5rem;
  margin: 66px 110px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: comfortaa;
  margin: 29px auto 0 168px;
}

.u-section-1 .u-image-1 {
  min-height: 589px;
  background-image: url("/images/pys.png");
  background-position: 0% 50%;
}

.u-section-1 .u-image-2 {
  width: 322px;
  height: 270px;
  margin: -634px -370px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 647px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 30px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: 91px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 647px;
  }

  .u-section-1 .u-image-2 {
    margin: -270px auto 30px 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
    margin-top: 27px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 69px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-left: 97px;
  }

  .u-section-1 .u-image-1 {
    min-height: 564px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -227px;
    margin-bottom: 17px;
    margin-left: -9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 51px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 52px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
    margin-left: 37px;
  }

  .u-section-1 .u-image-1 {
    min-height: 426px;
  }

  .u-section-1 .u-image-2 {
    margin: -696px 0 60px auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    margin-top: 18px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-right: 33px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -26px;
    margin-right: 49px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 442px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -744px;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
  min-height: 2495px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 2495px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 789px;
  height: 706px;
  margin: 61px auto 0 58px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-family: comfortaa;
  font-weight: 400;
  margin: -687px auto 0 1095px;
}

.u-section-2 .u-text-2 {
  font-family: comfortaa;
  font-size: 1.5rem;
  margin: 54px 213px 0 948px;
}

.u-section-2 .u-image-2 {
  width: 385px;
  height: 256px;
  margin: 244px auto 0 102px;
}

.u-section-2 .u-image-3 {
  width: 792px;
  height: 739px;
  margin: -425px 137px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 947px;
  height: 776px;
  margin: -212px auto 0 70px;
}

.u-section-2 .u-image-5 {
  width: 905px;
  height: 842px;
  margin: -377px 10px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 10px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 4384px;
  }

  .u-section-2 .u-image-1 {
    width: 814px;
    height: 713px;
    margin-top: 772px;
    margin-right: 101px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -1419px;
    margin-right: -178px;
    margin-left: 229px;
  }

  .u-section-2 .u-text-2 {
    width: 585px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 3351px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 815px;
    height: 760px;
    margin-top: -2808px;
    margin-right: 101px;
  }

  .u-section-2 .u-image-4 {
    width: 816px;
    height: 793px;
    margin-top: 52px;
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    width: 813px;
    height: 813px;
    margin-top: 88px;
    margin-right: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 3924px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 631px;
    margin-top: 696px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -1281px;
    margin-right: 20px;
    margin-left: 177px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 25px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 2997px;
  }

  .u-section-2 .u-image-3 {
    width: 720px;
    height: 672px;
    margin-top: -2545px;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    width: 720px;
    height: 700px;
    margin-top: 68px;
    margin-right: auto;
  }

  .u-section-2 .u-image-5 {
    width: 720px;
    height: 720px;
    margin-top: 44px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 3247px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 473px;
    margin-top: 731px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -1168px;
    margin-right: -110px;
    margin-left: 128px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 43px;
    margin-left: 57px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 2271px;
    margin-right: 121px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 504px;
    margin-top: -1961px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 525px;
    margin-top: 36px;
  }

  .u-section-2 .u-image-5 {
    width: 540px;
    height: 540px;
    margin-top: 57px;
    margin-right: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 2639px;
  }

  .u-section-2 .u-image-1 {
    width: 379px;
    height: 332px;
    margin-top: 779px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: -1091px;
    margin-right: -69px;
    margin-left: 69px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-right: 11px;
    margin-left: 19px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-top: 1635px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-2 .u-image-3 {
    width: 379px;
    height: 394px;
    margin-top: -1469px;
  }

  .u-section-2 .u-image-4 {
    width: 379px;
    height: 379px;
    margin-top: 31px;
  }

  .u-section-2 .u-image-5 {
    width: 379px;
    height: 379px;
    margin-top: 29px;
    margin-right: auto;
  }
} .u-section-3 {
  min-height: 624px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1546px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 624px;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-family: comfortaa;
  margin: 59px 0 0 59px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 22px 28px 0 59px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-family: comfortaa;
  margin: 0 150px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 346px;
  height: 274px;
  margin: -58px auto 0 170px;
}

.u-section-3 .u-image-2 {
  min-height: 624px;
  background-image: url("/images/image-13.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-3 .u-image-3 {
  min-height: 624px;
  background-image: url("/images/image-15.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 933px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 933px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 27px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 37px;
    margin-right: auto;
    margin-left: 132px;
  }

  .u-section-3 .u-image-1 {
    width: 303px;
    margin-top: 27px;
    margin-left: 37px;
  }

  .u-section-3 .u-image-2 {
    min-height: 933px;
  }

  .u-section-3 .u-image-3 {
    min-height: 933px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 584px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 904px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-right: -52px;
    margin-left: 52px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 27px;
    margin-left: 109px;
  }

  .u-section-3 .u-image-1 {
    width: 230px;
    height: 271px;
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    background-position: 43.86% 50%;
    min-height: 715px;
  }

  .u-section-3 .u-image-3 {
    min-height: 715px;
    background-position: 84.6% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1885px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 43px;
    margin-right: -36px;
    margin-left: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 36px;
    margin-right: 49px;
    margin-left: 36px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 46px;
    margin-left: 257px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 47px;
  }

  .u-section-3 .u-image-2 {
    min-height: 452px;
  }

  .u-section-3 .u-image-3 {
    min-height: 654px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1019px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 38px;
    margin-left: 63px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 53px;
  }

  .u-section-3 .u-image-2 {
    min-height: 285px;
  }

  .u-section-3 .u-image-3 {
    min-height: 412px;
  }
} .u-section-4 {
  min-height: 421px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 424px;
}

.u-section-4 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-4 .u-image-1 {
  width: 346px;
  height: 274px;
  margin: 40px 103px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-family: comfortaa;
  margin: -285px 1509px 0 35px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 29px 564px 0 29px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-family: comfortaa;
  margin: 35px auto 0 54px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 578px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-4 .u-image-1 {
    width: 354px;
    margin-top: 163px;
    margin-right: 40px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -422px;
    margin-right: 527px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 572px;
    margin-left: 21px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -46px;
    margin-right: 447px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 952px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 26px;
    padding-top: 26px;
  }

  .u-section-4 .u-image-1 {
    width: 353px;
    margin-top: 590px;
    margin-right: 39px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -841px;
    margin-right: 334px;
    margin-left: 39px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 39px;
    margin-right: 334px;
    margin-left: 39px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 39px;
    margin-right: auto;
    margin-left: 178px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 722px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -69px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 791px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 299px;
    height: 232px;
    margin-top: 533px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -707px;
    margin-right: 247px;
    margin-left: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: 168px;
    margin-left: 25px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 36px;
    margin-left: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: -63px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 853px;
  }

  .u-section-4 .u-image-1 {
    width: 316px;
    margin-top: 593px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 221px;
    margin-top: -766px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 19px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 19px;
    margin-left: 23px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 600px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 693px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 356px;
  height: auto;
  margin: 129px auto 60px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-family: comfortaa;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-6 .u-group-1 {
    width: 625px;
    min-height: 318px;
    margin-top: 93px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-6 .u-group-1 {
    width: 576px;
    min-height: 213px;
    margin-top: 27px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-6 .u-group-1 {
    width: 415px;
    min-height: 190px;
    margin-top: 40px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-6 .u-group-1 {
    min-height: 277px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 30px;
  }
}