 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 90px;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 937px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: comfortaa;
  font-weight: 400;
  margin: 46px 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: comfortaa;
  font-size: 1.5rem;
  margin: 40px 97px 0 13px;
}

.u-section-1 .u-image-1 {
  width: 322px;
  height: 270px;
  margin: 73px auto 0 80px;
}

.u-section-1 .u-image-2 {
  min-height: 937px;
  background-image: url("/images/image_2022-12-31_155821551.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 773px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 30px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: 91px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -270px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 773px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
    margin-top: 27px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 69px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -4px;
    margin-bottom: 0;
    margin-left: -25px;
  }

  .u-section-1 .u-image-2 {
    min-height: 592px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 494px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -75px;
    margin-right: 3px;
    margin-left: -9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-right: 52px;
  }

  .u-section-1 .u-image-1 {
    width: 187px;
    height: 153px;
    margin-top: -289px;
    margin-right: -64px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 752px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 9px;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    margin-top: 18px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-right: 33px;
  }

  .u-section-1 .u-image-1 {
    width: 134px;
    height: 134px;
    margin-top: 6px;
    margin-right: auto;
    margin-left: 97px;
  }

  .u-section-1 .u-image-2 {
    min-height: 559px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 793px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 793px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-family: comfortaa;
  font-weight: 400;
  margin: 76px 230px 0 726px;
}

.u-section-2 .u-text-2 {
  font-family: comfortaa;
  font-size: 1.5rem;
  margin: 17px 435px 0 726px;
}

.u-section-2 .u-image-1 {
  width: 398px;
  height: 251px;
  margin: -238px auto 0 76px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-family: comfortaa;
  margin: 13px auto 0 726px;
}

.u-section-2 .u-image-2 {
  width: 932px;
  height: 364px;
  margin: -10px 126px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 694px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 736px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 69px;
    margin-right: 0;
    margin-left: 51px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 404px;
    margin-left: 51px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -298px;
    margin-right: 81px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-right: 300px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 973px;
    height: 327px;
    margin-top: 82px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 768px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 779px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 88px;
    margin-right: 17px;
    margin-left: 79px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 17px;
    margin-right: 156px;
    margin-left: 79px;
  }

  .u-section-2 .u-image-1 {
    width: 266px;
    margin-top: -52px;
    margin-right: 106px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -108px;
    margin-right: auto;
    margin-left: 88px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 242px;
    margin-top: 63px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 610px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 38px;
    margin-right: -25px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-right: 43px;
    margin-left: 57px;
  }

  .u-section-2 .u-image-1 {
    width: 210px;
    margin-top: -90px;
    margin-right: calc(((100% - 540px) / 2) + -23px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -86px;
    margin-left: 64px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 182px;
    margin-top: 36px;
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 559px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 72px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-right: 80px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 98px;
    height: 214px;
    margin-top: -379px;
    margin-right: 32px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 191px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 115px;
    margin-top: 21px;
    margin-right: auto;
    margin-left: 29px;
  }
} .u-section-3 {
  min-height: 594px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 562px;
  }
} .u-section-4 {
  min-height: 455px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 455px;
}

.u-section-4 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-family: comfortaa;
  margin: 29px 1509px 0 35px;
}

.u-section-4 .u-image-1 {
  width: 346px;
  height: 274px;
  margin: -77px 76px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: -187px 558px 0 35px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-family: comfortaa;
  margin: 35px auto 0 35px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 375px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 527px;
    margin-left: 21px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -16px;
    margin-right: 82px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -236px;
    margin-right: 572px;
    margin-left: 21px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -46px;
    margin-right: 447px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 748px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 748px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 26px;
    padding-top: 26px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 23px;
    margin-right: 334px;
    margin-left: 39px;
  }

  .u-section-4 .u-image-1 {
    width: 254px;
    height: 218px;
    margin-top: -81px;
    margin-right: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -69px;
    margin-right: 323px;
    margin-left: 50px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 68px;
    margin-right: auto;
    margin-left: 155px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 598px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -69px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 253px;
    margin-left: 19px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 360px;
    margin-right: 51px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -554px;
    margin-right: 158px;
    margin-left: 35px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 39px;
    margin-left: 51px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 517px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 12px;
    margin-right: 97px;
    margin-left: 123px;
  }

  .u-section-4 .u-image-1 {
    width: 134px;
    height: 158px;
    margin-top: 376px;
    margin-right: 82px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -533px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 23px;
    margin-left: 23px;
  }
} .u-section-5 {
  min-height: 1127px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
} .u-section-6 {
  min-height: 582px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 1126px;
}

.u-section-6 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-family: comfortaa;
  margin: 33px 1001px 0 73px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 14px 520px 0 73px;
}

.u-section-6 .u-image-1 {
  width: 346px;
  height: 274px;
  margin: 165px 385px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 993px;
  height: 884px;
  margin: -419px auto 0 73px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 1259px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 527px;
    margin-left: 21px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 572px;
    margin-left: 21px;
  }

  .u-section-6 .u-image-1 {
    width: 354px;
    margin-top: -322px;
    margin-right: 70px;
  }

  .u-section-6 .u-image-2 {
    width: 940px;
    height: 837px;
    margin-top: 78px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 1111px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 26px;
    padding-top: 26px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 23px;
    margin-right: 334px;
    margin-left: 39px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 39px;
    margin-right: 334px;
    margin-left: 39px;
  }

  .u-section-6 .u-image-1 {
    width: 236px;
    height: 219px;
    margin-top: -309px;
    margin-right: 59px;
  }

  .u-section-6 .u-image-2 {
    width: 720px;
    height: 641px;
    margin-top: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-top: -69px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 842px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 84px;
    margin-right: 247px;
    margin-left: 25px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-right: 168px;
    margin-left: 25px;
  }

  .u-section-6 .u-image-1 {
    width: 154px;
    height: 154px;
    margin-top: -269px;
    margin-right: 39px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 481px;
    margin-top: 145px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: 19px;
    margin-right: -7px;
    margin-left: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 220px;
    height: 107px;
    margin-top: -28px;
    margin-right: 54px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 303px;
    margin-top: 10px;
    margin-left: 31px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 693px;
}

.u-section-7 .u-group-1 {
  width: 570px;
  min-height: 356px;
  height: auto;
  margin: 129px auto 60px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  font-family: comfortaa;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-7 .u-group-1 {
    width: 625px;
    min-height: 318px;
    margin-top: 59px;
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-top: 20px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-7 .u-group-1 {
    width: 576px;
    margin-top: 65px;
    margin-bottom: 47px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-7 .u-group-1 {
    width: 459px;
    min-height: 291px;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-7 .u-group-1 {
    min-height: 333px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 30px;
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    margin-top: 0;
  }
}